
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: darkGrey;
  }

body{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #181818;
    color: white;
    font-family: 'Nunito', sans-serif;
}

#calendarApp{
    position: relative;
    width: 100%;
    height: 100%;
}

.year{
	position: relative;
	margin: auto;
    font-size: calc(1.5vw + 1.5vh);
    text-align: center;
    margin-top: 15px;
    user-select: none;
    cursor: pointer;
    width: 25%;
}
.year:hover{text-shadow: 0 0 25px white;}

.calendar{
	position: relative;
    margin: auto;
    width: 55%;
    height: 40%;
    margin-top: 20px;
}

.months{
	position: relative;
    margin: auto;
    background-color: #404040;
    border: 1px solid #404040;
    font-size: calc(2vw + 2vh);
    text-align: center;
    padding: 10px;
    user-select: none;
    cursor: default;
}

.monthsToggle{
    width: 50%;
    margin: auto;
}

.flex-days{
    position: relative;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    border: 2px #404040 solid;
    border-top: none;
    background-color: #101010;
    padding-bottom: 25px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 500px) {
    .calendar{
        width: 100%;
    }

    .flex-days{
        height: 300px;
    }
}

.days{
	margin: 10px;
    font-size: 18px;
    width: 25px;
    height: 25px;
    text-align: center;
    box-sizing: border-box;
    color: black;
    border: 1px solid lightGrey;
    line-height: 1.5;
    cursor: default;
    user-select: none;
}
.days:hover{opacity: 0.5;}

.prevM{left:0;}
.nextM{right:0;}
.prevM,
.nextM{
    position: absolute;
    top: 0;
    height: 100%;
    font-size: calc(2vw + 2vh);
    line-height: 1.4;
    padding: 4px;
    box-sizing: border-box;
    opacity: 0.2;
    cursor: pointer;
    z-index: 1;
}
.prevM:hover,
.nextM:hover{
    opacity: 1;
}

.noContCover{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    z-index: 1;
}

.days:hover{
    background-color: white;
}

.learnSection{
    position: relative;
    margin: auto;
    width: 75%;
    box-shadow: 0 0 5px white;
    padding: 30px;
    text-align: center;
    opacity: 0;
    margin-top: 75px;
    margin-bottom: 20px;
}

.topic{
    font-size: calc(2vw + 2vh);
    text-underline-position: under;
    margin: 5px;
}
.date{
    font-size: 14px;
    color: lightGrey;
}
.description{
    text-align: left;
    text-indent: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
    color: lightGrey;
}
.description:hover{color:white;}

.referenceLink{
    color: grey;
    margin: 20px;
}
.referenceLink:hover{
    color: skyBlue;
}

.embed{
    background-color: grey;
    margin-top: 20px;
    box-shadow: 0 0 10px #9ADED6;
}

.sel{
    background-color: red;
}

.learnPrev{
    position: absolute;
    left: 0;
    width: 10%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 1;
    font-size: calc(2vh + 2vw);
    opacity: 0;
    border-radius: 5px;
    box-sizing: border-box;
}
.learnNext{
    position: absolute;
    right: 0;
    width: 10%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 1;
    font-size: calc(2vh + 2vw);
    text-align: right;
    opacity: 0;
    border-radius: 5px;
    box-sizing: border-box;
}
.learnPrev:hover,
.learnNext:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 0 10px grey inset;
}

.learnArrow{
    position: relative;
    top: 45%;
    margin: 10px;
}

.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    margin: 3px;
    font-size: none;
    padding: 0;
}
@media only screen and (max-width: 800px) {
    .content {
      width: 50px;
      height: 50px;
    }
  }
.fa-js-square{
    width: 100%;
    height: 100%;
    margin: 0;
    color: yellow;
}
.fa-vuejs{
    width: 100%;
    height: 100%;
    margin: 0;
    color: lightgreen;
}
.fa-css3-alt{
    width: 100%;
    height: 100%;
    margin: 0;
    color: skyBlue;
}

.opaciOne{
    opacity: 1;
}

.hoverShowDiv{
    position: absolute;
    display: none;
    width: auto;
    font-size: 14px;
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 5px;
    display: none;
    z-index: 5;
}

.flex-indicator{
    display: flex;
    justify-content: center;
    border: 2px solid #404040;
    box-sizing: border-box;
    border-top: none;
    background-color: #101010;
    visibility: hidden;
}

.guide{
    margin: 10px;
    font-size: 18px;
    width: 25px;
    height: 25px;
    text-align: center;
    box-sizing: border-box;
    color: lightGrey;
    border: 1px solid lightGrey;
    line-height: 1.5;
    cursor: default;
    user-select: none;
}
.vue{background-color:lightGreen;}
.js{background-color:yellow;}
.css{background-color:skyBlue;}
.empty{background-color:none;}

#arrowDownIcon{
    position: absolute;
    width: 30px;
    height: 25px;
    top: calc(100% - 30px);
    left: calc(50% - 15px);
    opacity: 0.5;
    cursor: pointer;
    margin-top: 3px;
}
#arrowDownIcon:hover{
    opacity: 1;
}

.visibOne{visibility:visible !important;}


/* .JS{background-color: yellow !important;}
.Vue{background-color: lightGreen !important;}
.CSS{background-color: skyBlue;}
.JS,.Vue,.CSS{color:black; border:none;}
.JS:hover,
.Vue:hover,
.CSS:hover{
    opacity: 0.5;
} */
/* .flexWeeks{
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
}
.weeks{
    box-sizing: border-box;
    padding: 5px;
    box-shadow: 0 0 3px white inset;
    flex-grow: 1;
    font-size: calc(1.2vh + 1.2vh);
    color: lightGrey;
} */