@import "calendar.css";
@import "list.css";
@import "learned.css";
@import "custom_scroll_bar.css";

body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    text-underline-position: under;
}

#app{
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    margin: 20px auto;
}

#yr{
    position: relative;
    text-align: center;
    margin: auto;
    display: block;
    cursor: pointer;
    user-select: none;
    width: 25%;
    color: grey;
}#yr:hover{text-shadow: 0 0 20px yellow; color:white;}

.js{background-color:yellow;}
.vue{background-color:lightGreen;}
.css{background-color: skyBlue;}
.js,.vue,.css{border:none;color:black;font-weight:bold;}

