.learned_section{
    position: relative;
    top: 100px;
    box-sizing: border-box;
    box-shadow: 0 0 5px white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #101010;
    margin-bottom: 50px;
}

.learned_content{
    box-sizing: border-box;
    width: 90%;
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    text-align: center;
    animation-duration: 200ms;
}

.learned_previous,
.learned_next{
    position: relative;
    width: 10%;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: rgb(51, 43, 102);
    opacity: 0.1;
}
.learned_previous:hover,.learned_next:hover{opacity:1;}
.learned_previous:active,.learned_next:active{box-shadow: 0 0 15px black inset;}


.fa-chevron-circle-right,
.fa-chevron-circle-left{
    position: relative;
    width: 100%;
    margin: auto;
    font-size: 60px;
    text-align: center;
    top: calc(50% - 30px);
    display: block;
}

@media only screen and (max-width: 600px) {
    .fa-chevron-circle-right,
    .fa-chevron-circle-left{
        font-size: 40px;
    }
}
@media only screen and (max-width: 500px) {
    .fa-chevron-circle-right,
    .fa-chevron-circle-left{
        display: none;
    }
}
.date{
    border: 1px solid red;
    font-size: 16px;
    color: grey;
}.date:hover{color:white;}

.title{
    border: 1px solid green;
    font-size: calc(2vw + 2vh);
    font-weight: bold;
}

.description{
    border: 1px solid skyBlue;
    text-align: left;
    text-indent: 50px;
    padding: 10px;
    color: lightGrey;
}.description:hover{color:white;}

@media only screen and (max-width: 600px) {
    .description{
        text-indent: 0;
        text-align: center;
    }
}

.example{
    position: relative;
    border: 1px solid violet;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.reference{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reference a{color:darkGrey;}
.reference a:hover{color:skyBlue;}